# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# JavaScript, TypeScript files
[*.{js,ts,tsx}]
max_line_length = 100

# JSON files
[*.json]

# HTML files
[*.html]

# CSS files
[*.css]

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML files
[*.{yml,yaml}]

# Configuration files
[*.config.{js,ts}]

# Package files
[package.json]

[package-lock.json]
insert_final_newline = false
